*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

#content{
	margin-top: 60px;
	margin-left: 50px;
}


.main-frame{
  
	margin-top: 130px;
	padding: 70px;
}
.login{
    margin-left:50px;
    box-shadow: 0 5px 5px 5px #000000;
    background-size: contain;
    width: 100%;
    height: 270px;
    position: relative;
    justify-content: center;
    margin-top: 130px;
    background-color: rgba(0,0,0,0.2);
    width:430px;
    height:470px;
}

h1,h2,h3{
	color:#f9c74f;
}
a{
	color:white;
}


*{
  border-radius: 0 !important;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
span{
	color:white;
	
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

input[type=submit]{
  background-color: #4CAF50;
  text-align: center;
  color: white;
  padding: 2px 32px;
  margin: 4px 2px;
  cursor: pointer;
}



.tab-pane  form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.tab-pane  a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.tab-pane  a span {
  position: absolute;
  display: block;
}

.tab-pane  a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}






.tab-pane a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}




.tab-pane a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}